body{
    background-image: linear-gradient(to left,rgb(165, 227, 165),30%,white,rgb(231, 171, 160));
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    margin-top: 50px;
}

.flex-item{
    height: 200px;
    width: 200px;
    background-color: darkgreen;
    transition-duration: 2s;
    transition-property: all;
    
}

.flex-container .child1:hover{
    border-radius: 50%;
    background-image: radial-gradient(circle, blue, 30%, rgb(69, 237, 69), transparent);
}

.flex-container .child2:hover{
    border-radius: 50% 0 50% 0;
    transform: rotateZ(360deg);
}

.flex-container .child3:hover{
    border-radius: 25% 90% 25% 90%;
    /* transform: rotateZ(360deg); */
}

.flex-container .child4:hover{
    border-radius: 0 50% 0 50%;
    /* transform: rotateZ(360deg); */
}

p{
    transition-duration: 2s;
    transition-property: all;
}

div +p:hover{
    font-size: xx-large;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
 
}

p +p:hover{
    font-size: xx-large;
    font-family:  sans-serif;
    text-decoration: line-through;
}

.img{
    height: 150px;
    width: 200px;
    background-image: url(./images.png);
    transition-duration: 2s;
}

.img:hover{
    transform: translateX(505px);
}




@media (min-width:260px) and (max-width:450px){
    .flex-container{
        flex-direction: column;
        align-items: center;
    }
    .flex-item{
        margin: 30px;

    }
}